@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<form asp-controller="Post" asp-action="CrateStudent">
    <input type="text" placeholder="name" class="form-control">
    <input type="text" placeholder="family" class="form-control">
    <input type="text" placeholder="national-code" class="form-control">
    <input type="text" placeholder="Phone" class="form-control">
    <input type="submit" class="form-control"/>
</form>







